<div class="container-fluid d-flex justify-content-between header align-items-center">
    <div>
        <h1 class="green logo">LOGO</h1>
    </div>
    <div class="d-flex align-items-center ">
        <div class="social-icons mx-3 ft-16"><a href="#">About Us</a></div>
        <div class="social-icons mx-3 ft-16"><a href="#">Contact</a></div>
        <div class="social-icons mx-2"><a href="https://www.facebook.com"><img src="../.../../../assets/icons/facebook.svg"></a></div>
        <div class="social-icons mx-2"><a href="https://www.instagram.com"><img src="../.../../../assets/icons/instagram-sketched.svg"></a></div>
        <div class="social-icons mx-2"><a href="https://www.twitter.com"><img src="../.../../../assets/icons/twitter.svg"></a></div>
        <div class="social-icons mx-2"><a href="https://www.youtube.com"><img src="../.../../../assets/icons/youtube.svg"></a></div>
    </div>
</div>
