.footer{
    box-shadow: 3px 0 6px 0 #a6a6a6;
}
.small-text{
    color: #bbb;
}

.form-input{
    border-radius: 20px;
    border: none;
    box-shadow: 0 3px 6px 0 #a6a6a6;
}

.footer-bottom{
    background: orange;
}

.btn-backg{
    background: #00cc00;
}