<div class="h-100">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="universe-slide">
                    <div id="universe" class="h-100">
                        <div id="galaxy">
                          <div id="sun">
                          </div>
                          <div id="mercury" class="orbit">
                            <div class="inner-orbit-div">
                                <div class="inner-orbit"></div>
                            </div>
                            <div class="planet planet-1"  placement="left" ngbTooltip="Lorem Ipsum"></div>
                                <div class=" planet planet-2" placement="bottom" ngbTooltip="Lorem Ipsum"></div>
                                <div class="planet planet-3" placement="top" ngbTooltip="Lorem Ipsum"></div>
                                <div class=" planet planet-4" placement="right" ngbTooltip="Lorem Ipsum"></div> 
                          </div>      
                        </div>
                      </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="universe-slide">
                    <div id="universe" class="h-100">
                        <div id="galaxy">
                          <div id="sun">
                          </div>
                          <div id="mercury" class="orbit">
                            <div class="inner-orbit-div">
                                <div class="inner-orbit"></div>
                            </div>
                            <div class="planet planet-5" placement="left" ngbTooltip="Lorem Ipsum"></div>
                                <div class=" planet planet-6" placement="bottom" ngbTooltip="Lorem Ipsum"></div>
                                <div class="planet planet-7" placement="right" ngbTooltip="Lorem Ipsum"></div>
                                <div class=" planet planet-8" placement="top" ngbTooltip="Lorem Ipsum"></div> 
                          </div>      
                        </div>
                      </div>
                </div>
            </div>

        </ng-template>
    </ngb-carousel>
</div>